<?xml version = "1.0"?>

<launch>

    <!-- Launching the startup node -->

    <node name="startup_node" pkg="rover" type="startup" respawn="false" output="log"/>  

    <!-- Point Cloud Processing Node -->

    <node name="GPE_node" pkg="rover" type="GPE" respawn="false" output="log"/>  

    <!-- Converting ply file to point cloud data and publishing a map -->

    <include file="$(find rover)/launch/mapping.launch" pass_all_args="true"/>

    <!-- Robot Localization odom -> base_footprint -->

    <include file="$(find rover)/launch/localization.launch" pass_all_args="true"/>

    <!-- Custom AR Tag node for localization with respect to map -->

    <include file="$(find rover)/launch/ar_track_alvar.launch" pass_all_args="true"/>

    <!-- Move Base -->

    <include file="$(find rover)/launch/move_base.launch" pass_all_args="true"/>

    <!-- Camera Save Node -->

    <include file="$(find rover)/launch/camera_save.launch" pass_all_args="true"/>
</launch>