<?xml version = "1.0"?>

<launch>

    <!-- Running rover on Gazebo -->

    <include file="$(find leo_erc_gazebo)/launch/leo_marsyard2021.launch" pass_all_args="true"/>

    <!-- Vizualising Rover and map on Rviz -->

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rover)/rviz/robot.rviz" />

    <!-- Robot Localization Node -->

    <node name="ukf_localization_node"
        pkg="robot_localization"
        type="ukf_localization_node"
        clear_params="true">
        <rosparam file="$(find rover)/params/localization.yaml"/>
    </node>
</launch>